<!-- new-password.ejs -->

<% layout('layout') -%>

<section class="auth-form">
  <h1>Set New Password</h1>
  <% if (error) { %>
    <div class="alert error"><%= error %></div>
  <% } %>
  <form action="" method="POST">
    <!-- CSRF Token -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-group">
      <label for="confirm_password">Confirm New Password</label>
      <input type="password" name="confirm_password" id="confirm_password" required>
    </div>
    <button type="submit" class="btn">Set Password</button>
  </form>
</section>